.body{
    font-family: sans-serif;
}
.wrapper{
    max-width: 1920px;
    margin: 0 auto;
}
.container{
    margin:0 auto;
    max-width: 1170px;
}
.container:before { /*побочка схлопывания*/
    content: "";
    display: table;
}
.container:after {
    content: "";
    display: table;
    clear: both;
}

.logo{
    background-image: url("logo1.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 130px;
    float: left;
    width: 30%;
}
.menu{
    width: 70%;
    float: left;
}
.menu a{
    display: block;
    float: left;
    line-height: 130px;
    height: 130px;
    width: 25%;
    text-align: right;
    text-decoration: none;
    padding: 0 5px;
    box-sizing: border-box;
    color: black;
    font-family: sans-serif;
}
.main{
    background-image: url("main.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 858px;
}
.main-title{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 300px;
}
.main-subtitle{
    margin-top: 40px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}
.submit-form{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    border: 15px solid rgba(0,0,0,.5);

}
.submit-form-input{
    position: relative;
}
.submit-form-input input{
    height: 100px;
    width: 100%;
}