body {
    margin: 0;
    font-family: sans-serif;
}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.container:before { /*побочка схлопывания*/
    content: "";
    display: table;
}
.container:after {
    content: "";
    display: table;
    clear: both;
}

/* header */
.logo{
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 360px;
    height: 130px;
    width: 30%;
    float: left;
}
.menu {
    width: 70%;
    float: left;
}
    .menu a {
        display: block;
        float: left;
        height: 130px;
        width: 25%;
        padding: 0 5px;
        line-height: 130px;
        box-sizing: border-box;
        text-align: right;
        text-decoration: none;
        color: #000;
    }

.container.margin-both {
    margin-top: 70px;
    margin-bottom: 70px;
}

section.main {
    background-image: url('../images/main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 858px;
    background-position: center;
    color: #fff;
}
    .main-title {
        text-align: center;
        font-size: 50px;
        margin-top: 300px;
    }
    .main-subtitle {
        text-align: center;
        font-size: 20px;
        margin-top: 40px;
    }
    .submit-form {
        position: relative;
        width: 60%;
        border: 15px solid rgba(0,0,0,.5);
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }
        .submit-form-input {
            position: relative;
            padding-right: 150px;
        }
            .submit-form-input input {
                width: 100%;
                box-sizing: border-box;
                height: 50px;
                padding-left: 15px;
                padding-right: 15px;
            }
        .submit-form button {
            position: absolute;
            right: 0;
            top: 0;
            width: 150px;
            height: 50px;
            background-color: #f26522;
            border: 0;
            color: #fff;
            font-weight: 700;
        }
section.features {

}
    .features-title {
        text-align: center;
        font-size: 40px;
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 5px;
        font-weight: 700;
    }
        .features-title:before {
            position: absolute;
            display: block;
            content: '';
            top: 100%;
            width: 300px;
            border-top: 1px solid #cacaca;
            margin-top: 2px;
            left: 50%;
            margin-left: -150px;
        }
        .features-title:after {
            position: absolute;
            display: block;
            content: '';
            top: 100%;
            width: 120px;
            border-top: 5px solid #f26522;
            left: 50%;
            margin-left: -60px;
        }
.features-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
    .feature {
        width: 31.5%;
        text-align: center;
        box-shadow: 0 0 20px #d1e8ff;
        padding: 50px 20px;
        box-sizing: border-box;
    }
        .feature-icon {
            border-radius: 50%;
            border: 1px solid #d1e8ff;
            width: 80px;
            height: 80px;
            padding: 20px;
            margin: 0 auto;
        }
        .feature-title {
            font-size: 24px;
            font-weight: 700;
            color: #f26522;
            margin-top: 30px;
        }
        .feature-text {
            margin-top: 15px;
            color: #898989;
            font-size: 14px;
            line-height: 24px;
        }
section.subscription {
    background-color: #f26522;
    background-image: url('../images/house-2.jpg');
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 550px;
}
    .subscription-subtitle,
    .subscription-title {
        font-size: 50px;
        text-align: center;
        font-weight: 700;
        color: #fff;
    }
    .subscription-title {
        margin-top: 150px;
    }
    .subscription-subtitle {
        font-size: 24px;
    }
    .submit-form.subscription-form input {
        padding-left: 50px;
    }
    .submit-form.subscription-form .submit-form-input:after {
        position: absolute;
        background-image: url('../images/letter-icon.png');
        content: '';
        top: 11px;
        left: 20px;
        height: 23px;
        width: 25px;
    }
    .margin-both-step{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .wrapper-step {
        display: table;
        content: "";
        max-width: 1170px;
        margin: auto;

    }
    .blokstep{
        width: 31%;
        box-shadow: 0 0 20px cadetblue;
        padding: 20px;
        margin-top: 30px;
        float: left;
        margin-left: 30px;

    }
    .step-title{
        font-size: 18px;
        font-weight: bold;
        color: orangered;
    }
    .step-subtitle{
        color: gray;
        font-size: 18px;
    }
    .video{
        float: left;
    }
